<div class="gallery-page">
  <div class="card-container">
    <!-- First Row -->
    <div class="card rotate-5">
      <img
        class="card-image"
        src="../../../assets/Image 1.jpg"
        alt="Gallery Image 1"
      />
      <h5 class="card-title">You belong to me! ❤️</h5>
    </div>
    <div class="card rotate-neg10">
      <img
        class="card-image"
        src="../../../assets/Image 2.jpg"
        alt="Gallery Image 2"
      />
      <h5 class="card-title">The day you made me so proud of you! 🥹</h5>
    </div>
    <div class="card rotate-15">
      <img
        class="card-image"
        src="../../../assets/Image 3.jpg"
        alt="Gallery Image 3"
      />
      <h5 class="card-title">The happiest I have ever seen you! 🐘</h5>
    </div>
    <div class="card rotate-neg5">
      <img
        class="card-image"
        src="../../../assets/Image 4.jpg"
        alt="Gallery Image 4"
      />
      <h5 class="card-title">Even on Eid we had to be together! 🐏</h5>
    </div>
  </div>

  <div class="card-container">
    <!-- Second Row -->
    <div class="card rotate-20">
      <img
        class="card-image"
        src="../../../assets/Image 5.jpg"
        alt="Gallery Image 5"
      />
      <h5 class="card-title">My favourite picture of you! 🥰</h5>
    </div>
    <div class="card rotate-neg15">
      <img
        class="card-image"
        src="../../../assets/Image 6.jpg"
        alt="Gallery Image 6"
      />
      <h5 class="card-title">I love how silly we can be! 🥴</h5>
    </div>
    <div class="card rotate-10">
      <img
        class="card-image"
        src="../../../assets/Image 7.jpg"
        alt="Gallery Image 7"
      />
      <h5 class="card-title">I love how peaceful you look in my arms! 🥺</h5>
    </div>
    <div class="card rotate-neg10">
      <img
        class="card-image"
        src="../../../assets/Image 8.jpg"
        alt="Gallery Image 8"
      />
      <h5 class="card-title">I belong to you! ❤️</h5>
    </div>
  </div>

  <button (click)="toggleMute()" class="mute-button">
    <i
      [class]="isMuted ? 'fas fa-volume-mute' : 'fas fa-volume-up'"
      style="font-size: 24px"
    ></i>
  </button>
</div>
