<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <i class="fa-solid fa-cake-candles navbar-icon"></i>
      <span class="navbar-title">Happy Birthday Love</span>
    </div>
    <button
      class="navbar-toggle"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="navbar-icon"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="navbar-menu" id="navbar-default">
      <ul>
        <li><a [routerLink]="['/main']">Main</a></li>
        <li><a [routerLink]="['/message']">Message</a></li>
        <li><a [routerLink]="['/gallery']">Gallery</a></li>
      </ul>
    </div>
  </div>
</nav>
