@if (loading) {
<div class="loading-container">
  <div class="loading"></div>
</div>
} @else if (!isBirthday) {
<div class="main-page">
  <div class="countdown-container">
    <h1 class="countdown-title" style="font-family: 'Lobster', cursive">
      Countdown to Birthday!
    </h1>
    <div id="countdown" class="countdown">
      <div class="countdown-item">
        <span class="countdown-number">{{ days }}</span>
        <span class="countdown-label">Days</span>
      </div>
      <div class="countdown-item">
        <span class="countdown-number">{{ hours }}</span>
        <span class="countdown-label">Hours</span>
      </div>
      <div class="countdown-item">
        <span class="countdown-number">{{ minutes }}</span>
        <span class="countdown-label">Minutes</span>
      </div>
      <div class="countdown-item">
        <span class="countdown-number">{{ seconds }}</span>
        <span class="countdown-label">Seconds</span>
      </div>
    </div>
  </div>
</div>
} @else {
<app-navbar></app-navbar>
<router-outlet></router-outlet>
}
