@if (!isBirthday && showCountdown) {
<div class="countdown-container">
  <h1 class="countdown-title" style="font-family: 'Lobster', cursive">
    Countdown to your amazing birthday!
  </h1>
  <div id="countdown" class="countdown">
    <div class="countdown-item">
      <span class="countdown-number">{{ days }}</span>
      <span class="countdown-label">Days</span>
    </div>
    <div class="countdown-item">
      <span class="countdown-number">{{ hours }}</span>
      <span class="countdown-label">Hours</span>
    </div>
    <div class="countdown-item">
      <span class="countdown-number">{{ minutes }}</span>
      <span class="countdown-label">Minutes</span>
    </div>
    <div class="countdown-item">
      <span class="countdown-number">{{ seconds }}</span>
      <span class="countdown-label">Seconds</span>
    </div>
  </div>
</div>
} @else {
<div class="main-page">
  <div class="positioning">
    <div class="overlay">
      <h1 class="birthday-message">
        🎉 Happy 21st birthday to the best wife on earth 🎉
      </h1>
      <p class="sub-message">
        Today we celebrate you and all the joy you bring into my life. Cheers to
        a year filled with love, laughter, and endless adventures together! I
        love you more than words can say! ❤️
      </p>
    </div>
    <!-- Cards for navigation -->
    <div class="flex">
      <a
        [routerLink]="['/gallery']"
        class="cards"
        style="max-width: 750px; margin-right: 20px"
      >
        <img
          class="object-cover w-full rounded-t-lg h-96"
          src="https://images.unsplash.com/photo-1511867674775-1176e6174052?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Gallery"
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="cards-title">View Gallery</h5>
          <p class="cards-sub-message">
            Explore our beautiful moments together.
          </p>
        </div>
      </a>

      <a [routerLink]="['/message']" class="cards" style="max-width: 750px">
        <img
          class="object-cover w-full rounded-t-lg h-96"
          src="https://images.unsplash.com/photo-1518621736915-f3b1c41bfd00?q=80&w=1893&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Message"
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="cards-title">Read Message</h5>
          <p class="cards-sub-message">Read my heartfelt message to you.</p>
        </div>
      </a>
    </div>
    <button (click)="toggleMute()" class="mute-button">
      <i
        [class]="isMuted ? 'fas fa-volume-mute' : 'fas fa-volume-up'"
        style="font-size: 24px"
      ></i>
    </button>
  </div>
</div>
}
