<div class="message-page">
  <div class="page">
    <div class="marge"></div>
    <span class="title">{{ messages[currentPage].title }}</span>
    <p [innerHTML]="messages[currentPage].content"></p>
    <div class="navigation">
      <i
        (click)="previousPage()"
        [class]="currentPage === 0 ? 'fas fa-reply disabled' : 'fas fa-reply'"
        class="prev-icon"
      ></i>
      <i
        (click)="nextPage()"
        [class]="
          currentPage === messages.length - 1
            ? 'fas fa-share disabled'
            : 'fas fa-share'
        "
        class="next-icon"
      ></i>
    </div>
  </div>

  <!-- Mute/Unmute Button -->
  <button (click)="toggleMute()" class="mute-button">
    <i
      [class]="isMuted ? 'fas fa-volume-mute' : 'fas fa-volume-up'"
      style="font-size: 24px"
    ></i>
  </button>
</div>
